/build-tutuList-Desktop-Debug/
/build-tutuList-Android_Qt_6_2_4_Clang_armeabi_v7a-Debug/
tutu-list/build-tutulist-Desktop_Qt_6_2_4_GCC_64bit-Debug/
/tutu-list/build-tutulist-Desktop_Qt_6_2_4_GCC_64bit-Debug/
